Cartopy~=0.24.1
folium~=0.19.5
geopy~=2.4.1
matplotlib~=3.10.1
numpy~=2.2.4
openai~=1.66.3
pandas~=2.2.3
Pillow~=11.1.0
plotly~=6.0.0
polars~=1.25.2
Requests~=2.32.3
scipy~=1.15.2
SpeechRecognition~=3.14.1
streamlit~=1.43.2
streamlit_folium~=0.24.0
tqdm~=4.67.1
